.cocktail-section {
  text-align: center;
}
.drink {
  width: 85vh;
  max-width: 1170px;
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: 0.25rem;
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: #d4e6a5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #476a2e;
}
.drink-info {
  padding-top: 2rem;
}
